<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Customer</title>
</head>
<body>
    <form action="/staff/update-customer" method="post">
        <input type="hidden" name="c_id" value="{{data[0]}}">
        Name: &nbsp;&nbsp;&nbsp; <input type="text" name="name" value="{{data[1]}}"><br>
        Mail: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="email" name="mail" value="{{data[2]}}"><br>
        Address: <input type="text" name="address" value="{{data[3]}}"><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>