<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Transaction</title>
</head>
<body>
    <form action="/admin/update-transaction" method="post">
        <input type="hidden" name="t_id" value="{{data[0]}}">
        C_id: &nbsp;&nbsp;&nbsp; <input type="text" name="c_id" value="{{data[1]}}"><br>
        <input type="hidden" name="s_id" value="{{data[2]}}">
        Amount: <input type="text" name="amount" value="{{data[3]}}"><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>