<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff LOGIN Page</title>
</head>
<body><br>
    <form action="/products/Slogin" method="post">
        Username: <input type="text" name="s_user" placeholder="Your Username" required>
        Password: <input type="password" name="s_pwd" placeholder="Your Password" required>
        <input type="submit" value="submit">
    </form>
</body>
</html>